# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Vercel specific
.vercel/
.vercel/cache/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build output
/build/
dist/
coverage/

# Temporary files
*.tmp
*.swp
*.log

# Puppeteer temporary files
puppeteer_temp/
